.mb1r {
  margin-bottom: 1rem;
}

.about {
  background-color: #191621;
  
  min-height: 100vh;
}

.container {
  max-width: 1080px !important;

  margin: auto;

  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 8rem;
}

.title {
  width: 620px;

  margin: 4rem auto;
}

h1 {
  font-family: 'metropolis-bold';
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

h5 {
  font-family: 'metropolis-light-italic';
  font-size: 2.4rem;
  font-weight: 100;
  font-style: italic;
  text-align: end;
  color: #ffffff;
}

.informations {
  display: flex;
  flex-direction: column;

  padding: 6rem 0 2rem 0;
}

.informations .row {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;

  margin-bottom: 8rem;
}

.informations .row .what h3 {
  font-family: 'metropolis-regular';
  font-size: 2rem;
  font-style: italic;
  color: #FFFFFF;
}

.informations .row .description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: flex-start;

  row-gap: 1rem;
}

.informations .row .description p {
  font-family: var(--font-h1);
  color: var(--text-gray);
  font-size: 1.3rem;
  text-align: left;

  width: 100%;

  line-height: 1.5rem;
  letter-spacing: -0.1rem;
}

.informations .row .description p .whited {
  font-family: var(--font-h1);
  font-size: 1.3rem;
  color: #FFFFFF;
  letter-spacing: -0.1rem;
}

.informations .row .description .whti {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  row-gap: 0.5rem;

  color: var(--blue);
}

.informations .row .description .whti .where {
  font-family: 'biotif-bold';
  font-size: 1.5rem;
  letter-spacing: 0.3em;
}

.informations .row .description .whti .time {
  font-family: 'biotif-bold';
  font-size: 1.1rem;
  letter-spacing: 0.3em;
}

.informations .row .description .techs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  row-gap: 0.5rem;

  color: var(--blue);

  margin-bottom: 2rem;
}

.informations .row .description .techs .type {
  font-family: 'biotif-bold';
  font-size: 1.5rem;
  letter-spacing: 0.3em;
}

.informations .row .description .techs .name {
  font-family: 'biotif-regular';
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--text-gray);
}

.btnPdf {
  height: 5rem;
  width: 20rem;
  background: var(--blue);
  border: none;
  cursor: pointer;
}

.btnPdf span {
  font-family: 'biotif-bold';
  font-size: 1.4rem;
  text-align: center;
}