.projects {
  background-color: #191621;
  
  min-height: 100vh;
}

.container {
  max-width: 1080px !important;

  margin: auto;

  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 8rem;
}

.title {
  margin: 4rem auto;
}

h1 {
  font-family: 'metropolis-bold';
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}