@font-face {
  font-family: 'Biotif Regular';
  src: url('./assets/fonts/biotif-regular.ttf');
}

@font-face {
  font-family: 'Biotif Bold';
  src: url('./assets/fonts/biotif-bold.ttf');
}

:root {
  --font-h1: 'Fira Code';
  --font-mono: 'Share Tech Mono';
  --blue: #8de0fb;
  --gray: #8f9ba8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
}
